*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --header-height: 13.6rem;
}

html{
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
}

body{
    background: #000104;
    background: linear-gradient(90deg,#000104 0%, #001A52 100%);
}

.hidden{
    display: none;
}

/* Header, nav */
header{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    align-items: center;
    background: #07192A;
    background: linear-gradient(90deg,#07192A 0%, #0E3E83 100%);
    color: #FFFFFF;
    height: var(--header-height);
    padding: 2.8rem 7.8rem;
    width: 100%;
}

.logo{
    display: flex;
    gap: 1rem;
}

.logo img{
    width: 2.5rem;
    height: 3.4rem;
}

.logo p{
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.7rem;
    width: 9.7rem;
}

nav{
    width: 100%;
    height: 5.8rem;
}

nav ul{
    display: flex;
    justify-content: space-around;

}

nav ul li{
    list-style: none;
    font-size: 2rem;
    padding: 0.8rem 1.6rem;
    border-radius: 2.5rem;
    cursor: pointer;
    border: 0.3rem solid transparent;
    transition: border 0.3s ease-in-out;
}

nav ul li:hover{
    border: 0.3rem solid #546A85;
}

.mobile-menu-icon{
    font-size: 2rem;
    text-align: center;
    cursor: pointer;
}