*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit;
}

:root{
    --header-height: 17.7vh;
    /* Main colors */
    --main-color-font: #FFFFFF;
    --main-bckg-color: #000104;
    --secundary-bckg-color: #001A52;
}

html{
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
}

body{
    color: var(--main-color-font);
    background: var(--main-bckg-color);
    background: linear-gradient(90deg,var(--main-bckg-color) 0%, var(--secundary-bckg-color) 100%);
}

.hidden{
    display: none;
}

/* Common height of some containers */
header, section{
    height: calc(100vh - var(--header-height));
}

section{
    margin-top: var(--header-height);
    padding: 4rem 5.2rem;
}


/* Common styles of img div's */
.home-img, .about-us-img{
    border: 1.2rem solid #C1C1C1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 28rem;
    height: 28rem;
    background-size: 137%;
    background-position: 56% 10%;
    background-origin: content-box;
}

/* Header, nav */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #07192A;
    background: linear-gradient(90deg,#07192A 0%, #0E3E83 100%);
    color: #FFFFFF;
    height: var(--header-height);
    padding: 2.8rem 7.8rem;
    width: 100%;
    position: fixed;
    top: 0;
}

.logo{
    display: flex;
    gap: 1rem;
}

.logo img{
    width: 2.5rem;
    height: 3.4rem;
}

.logo p{
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.7rem;
    width: 9.7rem;
}

nav{
    width: 100%;
    height: 5.8rem;
    display: none;
}

nav ul{
    display: flex;
    justify-content: space-around;

}

nav ul li{
    list-style: none;
    font-size: 2rem;
    padding: 0.8rem 1.6rem;
    border-radius: 2.5rem;
    cursor: pointer;
    border: 0.3rem solid transparent;
    transition: border 0.6s ease-in-out;
}

nav ul li:hover{
    border: 0.3rem solid #546A85;
}

.mobile-menu-icon{
    font-size: 3rem;
    text-align: center;
    cursor: pointer;
}

.mobile-menu{
    display: none;
}


/* Section Home */
#home{
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 4rem 5.2rem; */
    /* margin-top: var(--header-height); */
}

.section-main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.5rem;
}

.home-img{
    background-image: url('../img/psychologist-group01.png');
}

.home-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
}

.home-content h1{
    font-size: 4rem;
    width: 19.1rem;
    line-height: 3.8rem;
}

.home-content p{
    font-size: 1.8rem;
    line-height: 2.5rem;
    text-align: justify;
}

.home-content ul li{
    list-style: none;
    font-size: 1.6rem;
}

/* About-us section */
.about-us-img{
    background-image: url('../img/clinic01.png');
}

#about-us .section-main-container p{
    font-size: 1.8rem;
    line-height: 2.0rem;
    text-align: justify;
}


/* Responsive screens */
@media screen and (min-width: 576px){
    .home-content{
        width: 85%;
    }

    #about-us .section-main-container h1{
        font-size: 4rem;
    }

}

@media screen and (min-width: 768px){
    .home-img, .about-us-img{
        width: 35rem;
        height: 35rem;
    }
}

@media screen and (min-width: 1080px){
    nav{
        display: block;
    }

    .mobile-menu-icon{
        display: none;
    }

    .section-main-container{
        flex-direction: row;
    }

    .home-img{
        width: 44rem;
        height: 44rem;
    }

    .home-content{
        width: 50rem;
    }

    .home-content h1{
        font-size: 8.5rem;
        line-height: 7.6rem;
    }

    .home-content p{
        font-size: 2.8rem;
        line-height: 3.4rem;
    }

    .home-content ul li{
        font-size: 2rem;
    }

    #about-us{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #about-us .section-main-container{

        max-width: 110rem;
        max-height: 41rem;
        display: grid;
        row-gap: 4rem;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas: 
            "title fig"
            "p1 fig"
            "p2 fig"
            ;
        #about-us-title{
            grid-area: title;
        }
    
        .about-us-img{
            grid-area: fig;
            justify-self: flex-end;
        }

        #about-us-p1{
            grid-area: p1
        }

        #about-us-p2{
            grid-area: p2
        }

        #about-us-p1, #about-us-p2{
            line-height: 3.4rem;
        }
    }
}

@media screen and (min-width: 1200px){
    nav{
        width: 92.6rem;
    }

    .section-main-container{
        justify-content: space-between;
        gap: 11.4rem;
    }
}